# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
/arc_test/hello-arc/lib
arc_test/hello-arc/streamlit/.DS_Store
arc_test/hello-arc/.DS_Store
arc_test/.DS_Store

blockchain_code/lib
blockchain_code/streamlit/.DS_Store
.DS_Store
streamlit/src/frontend/components/__pycache__